<section>
    <nav id="451qa_nav_hdr" class="nav">
        <ul>
            <li class="hidden-sm hidden-xs">
                <span ng-click="toggleNav()"><i class="fa fa-list-ul" ng-class="{ 'text-info': navStatus.visible }"></i></span>
            </li>
            <li>
                <span id="451_lbl_curcat" class="text-primary" ng-bind-html="currentCategory.Name ? (currentCategory.Name | categoryNames) : '  {{'Categories' | r | xlat}}'"></span>
            </li>
            <!--<li class="pull-right">
                <a href="search">
                    <span><i class="fa fa-search text-primary"></i></span>
                </a>
            </li>-->
        </ul>
    </nav>
    <div class="row">
        <aside class="col-sm-3 visible-md visible-lg" ng-if="navStatus.visible">
            <div class="panel-nav">
                <nav class="nav 451qa_sidenav panel-body">
                    <ul>
                        <categorytree tree='tree' current='currentCategory' />
                    </ul>
                </nav>
            </div>
            <div ng-show="!isActive('catalog')">
                <!--<categorydisplay categoryid="'EX_LatestProducts'"></categorydisplay>-->
                <!--<categorydisplay categoryid="'EX_BestProducts'"></categorydisplay>-->
            </div>
        </aside>
        <div ng-class="{ 'col-md-8 col-md-offset-1': navStatus.visible }">

            <categorylistview></categorylistview>

            <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}"/>
            <productlistview ng-show="productListType == 'row'"></productlistview>
            <productlistview-alt ng-show="productListType == 'inline'"></productlistview-alt>
        </div>
    </div>
    <div ng-show="isActive('catalog')">
        <!--<categorydisplay-inline categoryid="'EX_LatestProducts'" user="user"></categorydisplay-inline>-->
        <!--<categorydisplay-inline categoryid="'EX_BestProducts'" user="user"></categorydisplay-inline>-->
    </div>
</section>