<div class=" " ng-show="currentCategory.SubCategories.length">
   <!-- <div class="well" ng-show="productCount > settings.pageSize">
        <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
                    items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
    </div>-->
    <div class="panel-category-list">
        <loadingindicator ng-show="categoryLoadingIndicator" title="{{'Please wait while we fetch all categories' | r | xlat}}" />
        <nav class="nav 451_lbl_subcatlist">
            <ul>
                <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="c in currentCategory.SubCategories | hiddencategories">
                    <div class="well">
                        <a ng-href="catalog/{{c.InteropID}}">
                            <figure ng-show="c.Image.URL">
                                <img class="img-responsive" ng-src="{{c.Image.URL}}"/>
                            </figure>
                            <div class="empty" ng-show="!c.Image.URL">
                                <span class="fa empty"><i class="fa fa-camera"></i></span>
                            </div>

                            <h5  class="451_lbl_subcatlist" ng-bind-html="c.Name | categoryNames" />
                            <div ng-show="isActive('catalog')" class="category-list-tree-sub">
                                <!--[if !IE 9]>-->
                                <categorylisttree tree='c.SubCategories' current='currentCategory'/>
                                <!--<![endif]-->
                                <a class="btn btn-primary" ng-href="catalog/{{c.InteropID}}">
                                    <small><b>{{'View All' | r |  xlat}}</b></small>
                                </a>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <!--<div class="well" ng-show="productCount > settings.pageSize">
        <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
                    items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
    </div>-->
</div>