<ul class="breadcrumb">
    <li ng-repeat="crumb in breadcrumbs | hiddencategories">
        <a ng-href="{{crumb.link}}">{{crumb.name}}</a>
    </li>
</ul>
<section>
    <div class="row">
        <aside class="col-md-3 visible-md visible-lg">
            <div class="panel-nav">
                <h3 class="text-muted"><i class="fa fa-list"></i> {{'Categories' | r | xlat | uppercase}}</h3>
                <nav class="nav 451qa_sidenav panel-body">
                    <ul>
                        <categorytree tree='tree' current='currentCategory' />
                    </ul>
                </nav>
            </div>
            <div class="imageCatSize">
                <categorydisplay categoryid="'EX_LatestProducts'"></categorydisplay>
                <categorydisplay categoryid="'EX_BestProducts'"></categorydisplay>
            </div>
        </aside>
        <div class="col-md-9">
            <categorylistview ng-if="currentCategory.InteropID != 'eep-tropical-theme' || currentCategory.InteropID != 'eep-sports-theme' || currentCategory.InteropID != 'eep-service-lines' || currentCategory.InteropID != 'A37C3719-79D3-4DBE-A71B-A5EC94C68329' || currentCategory.InteropID != 'eep-service-lines--Featured' || currentCategory.InteropID != 'eep-sports-theme--Featured' || currentCategory.InteropID != 'eep-tropical-theme--Featured'"></categorylistview>
            <tabbedcategorylistview ng-if="currentCategory.InteropID == 'eep-tropical-theme' || currentCategory.InteropID == 'eep-tropical-theme--Featured'"></tabbedcategorylistview>
            <tabbedcategorylistviewtwo ng-if="currentCategory.InteropID == 'eep-sports-theme'|| currentCategory.InteropID == 'eep-sports-theme--Featured'"></tabbedcategorylistviewtwo>
            <tabbedcategorylistviewthree ng-if="currentCategory.InteropID == 'eep-service-lines'|| currentCategory.InteropID == 'eep-service-lines--Featured'"></tabbedcategorylistviewthree>
            <div ng-if="currentCategory.InteropID == 'A37C3719-79D3-4DBE-A71B-A5EC94C68329'">
                <broadcastview></broadcastview>
            </div>
            <div class="description text-left">
            	<p ng-bind-html="trusted(currentCategory.Description)"></p>
            </div>
            <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}"/>
            <productlistview ng-show="productListType == 'row' && (currentCategory.InteropID != 'eep-tropical-theme' && currentCategory.InteropID != 'eep-sports-theme' && currentCategory.InteropID != 'eep-service-lines' && currentCategory.InteropID != 'A37C3719-79D3-4DBE-A71B-A5EC94C68329' && currentCategory.InteropID != 'eep-service-lines--Featured' && currentCategory.InteropID != 'eep-sports-theme--Featured' && currentCategory.InteropID != 'eep-tropical-theme--Featured')"></productlistview>
            <productlistview-alt ng-show="productListType == 'inline' && (currentCategory.InteropID != 'eep-tropical-theme' && currentCategory.InteropID != 'eep-sports-theme' && currentCategory.InteropID != 'eep-service-lines' && currentCategory.InteropID != 'A37C3719-79D3-4DBE-A71B-A5EC94C68329' && currentCategory.InteropID != 'eep-service-lines--Featured' && currentCategory.InteropID != 'eep-sports-theme--Featured' && currentCategory.InteropID != 'eep-tropical-theme--Featured')"></productlistview-alt>
        </div>
    </div>
</section>