<script>

    var LPPCtrl = function($scope) {

        $scope.LPPErrors = [];

        $scope.$watch('Variant', function(n) {
            if (!n) return;
            n.Specs.Country.Value = "US";
            n.Specs.ListCheck.Value = "Pass";
            setPriceVariant(n.Specs.Quantity.Value);
        });

        var designCountError = 'Please select at least one design.';
        var mailingListError = 'Please upload a mailing list.';

        var setPriceVariant = function(value) {
            $scope.LPPErrors = [];
            var bulk = $scope.Variant.Specs.BulkSelection.Value;
            var designCount = 0;
            if ($scope.Variant.Specs.Front1.Value) designCount++;
            if ($scope.Variant.Specs.Front2.Value) designCount++;
            if ($scope.Variant.Specs.Front3.Value) designCount++;
            if ($scope.Variant.Specs.Front4.Value) designCount++;
            if (designCount == 0 && $scope.LPPErrors.indexOf(designCountError) == -1) {
                $scope.LPPErrors.push(designCountError);
            }

            if (value < 300) {
                var quantityBreak = 250;
            } else if (value < 400 ) {
                var quantityBreak = 300;
            } else if (value < 500 ) {
                var quantityBreak = 400;
            } else {
                var quantityBreak = 500;
            }

            if (bulk == 'Yes' && !$scope.Variant.Specs.List.Value && $scope.LPPErrors.indexOf(mailingListError) == -1) {
                $scope.LPPErrors.push(mailingListError);
            }
            if (!$scope.LPPErrors.length) {
                $scope.Variant.Specs.PriceVariant.Value = designCount + '-' + quantityBreak + '-' + bulk[0];
            } else {
                $scope.Variant.Specs.PriceVariant.Value = '';
            }
        };

        $scope.$watch('Variant.Specs.Quantity.Value', function(n) {
            if (!$scope.Variant) return;
            if (!n) {
                $scope.Variant.Specs.PriceVariant.Value = '';
                return;
            } else if ((+(n) >= 250) && (+(n) <= 500)) {
                setPriceVariant(n);
            } else {
                $scope.Variant.Specs.PriceVariant.Value = '';
                var qtyError = "Please select a valid quantity.  Minimum 250 - Maximum 500";
                if ($scope.LPPErrors.indexOf(qtyError) == -1) {
                    $scope.LPPErrors.push(qtyError);
                }
            }
        });

        $scope.$watch('Variant.Specs.List.Value', function(n) {
            if (!$scope.Variant) return;
            if (!n && $scope.Variant.Specs.Country.Value && $scope.Variant.Specs.Country.Value == 'US' && $scope.LPPErrors.indexOf(mailingListError) == -1) {
                $scope.LPPErrors.push(mailingListError);
            }
            else if (!n && $scope.Variant.Specs.Country.Value && $scope.Variant.Specs.Country.Value != 'US' && $scope.LPPErrors.indexOf(mailingListError) > -1) {
                $scope.LPPErrors.splice($scope.LPPErrors.indexOf(mailingListError),1);
            }
            else if (n) {
                $scope.LPPErrors.splice($scope.LPPErrors.indexOf(mailingListError),1);
            }
        });

        $scope.$watch('Variant.Specs.Front1.Value', function(n) {
            if (!$scope.Variant) return;
            $scope.Variant.Specs.Back1.Value = n ? n : '';
            $scope.Variant.Specs.Variant1.Value = n ? n : '';
            setPriceVariant($scope.Variant.Specs.Quantity.Value);
        });
        $scope.$watch('Variant.Specs.Front2.Value', function(n) {
            if (!$scope.Variant) return;
            $scope.Variant.Specs.Back2.Value = n ? n : '';
            $scope.Variant.Specs.Variant2.Value = n ? n : '';
            setPriceVariant($scope.Variant.Specs.Quantity.Value);
        });
        $scope.$watch('Variant.Specs.Front3.Value', function(n) {
            if (!$scope.Variant) return;
            $scope.Variant.Specs.Back3.Value = n ? n : '';
            $scope.Variant.Specs.Variant3.Value = n ? n : '';
            setPriceVariant($scope.Variant.Specs.Quantity.Value);
        });
        $scope.$watch('Variant.Specs.Front4.Value', function(n) {
            if (!$scope.Variant) return;
            $scope.Variant.Specs.Back4.Value = n ? n : '';
            $scope.Variant.Specs.Variant4.Value = n ? n : '';
            setPriceVariant($scope.Variant.Specs.Quantity.Value);
        });

        $scope.$watch('Variant.Specs.Country.Value', function(n) {
            if (!$scope.Variant) return;

            if (n) {
                if (n == "US") {
                    $scope.Variant.Specs.BulkSelection.Value = 'Yes';
                } else {
                    $scope.Variant.Specs.BulkSelection.Value = 'No';
                    $scope.Variant.Specs.List.File = null;
                    $scope.Variant.Specs.List.Value = null;
                    $scope.LPPErrors.splice($scope.LPPErrors.indexOf(mailingListError),1);
                }
                setPriceVariant($scope.Variant.Specs.Quantity.Value);
            }
        });
    }
</script>
<section class="specform-default" ng-controller="LPPCtrl">
    <!-- BREADCRUMB!-->
    <productnav editvariant="true" product="Product" variant="Variant" />
    <!-- SPEC FORM IMAGE PANEL!-->
    <div class="col-md-4" ng-hide="!Variant.PreviewUrl">
        <div class="panel panel-default">
            <loadingindicator ng-show="loadingImage" />
            <div class="panel-body">
                <figure>
                    <img class="product-image-large img-responsive" ng-src="{{Variant.PreviewUrl}}" imageonload />
                </figure>
            </div>
        </div>
    </div>
    <div ng-class="{'col-xs-12': !Variant.PreviewUrl, 'col-md-7 col-md-offset-1': Variant.PreviewUrl }">
        <!-- SPEC FORM PANEL! --->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span ng-show="Variant.PreviewUrl">{{'Edit' | r | xlat}} </span>{{Variant.ExternalID || 'Create New' | xlat}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.Name"></customtextfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.Title1"></customtextfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.Address1"></customtextfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.City"></customtextfield>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <customtextfield customfield="Variant.Specs.State"></customtextfield>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2">
                        <customtextfield customfield="Variant.Specs.ZipCode"></customtextfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customselectionfield customfield="Variant.Specs.Country"></customselectionfield>
                    </div>
                </div>
                <div class="row" ng-show="Variant.Specs.Country.Value == 'US'">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customfilefield customfield="Variant.Specs.List"></customfilefield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.Phone1"></customtextfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.EmailAddress"></customtextfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.WebAddress"></customtextfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="checkbox">
                            <label> Outstanding Business Community
                                <input type="checkbox" ng-model="Variant.Specs.Front1.Value" ng-true-value="Community" ng-false-value="">
                            </label>
                        </div>
                        <div class="checkbox">
                            <label> Locally Owned Business
                                <input type="checkbox" ng-model="Variant.Specs.Front2.Value" ng-true-value="Local" ng-false-value="">
                            </label>
                        </div>
                        <div class="checkbox">
                            <label> Top Talent
                                <input type="checkbox" ng-model="Variant.Specs.Front3.Value" ng-true-value="Talent" ng-false-value="">
                            </label>
                        </div>
                        <div class="checkbox">
                            <label> Contingent Staffing
                                <input type="checkbox" ng-model="Variant.Specs.Front4.Value" ng-true-value="Contingent" ng-false-value="">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="view-form-icon">
                            <div>
                                <label ng-bind-html="(Variant.Specs.Quantity.Label || Variant.Specs.Quantity.Name | r)"></label>
                                <input class="form-control" placeholder="Minimum 250" type="text" min="250" max="500" autocomplete="off" ng-required="Variant.Specs.Quantity.Required" ng-model="Variant.Specs.Quantity.Value"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <button ng-show="Variant.InteropID" class="btn btn-default" type="button" ng-click="saveasnew(true)" ng-disabled="variantErrors.length || LPPErrors.length > 0"><i ng-show="variantErrors.length > 0 || LPPErrors.legnth > 0" class="fa fa-warning"> </i>{{'Save As New' | r | xlat}}</button>
                <button class="btn btn-primary pull-right" type="submit" ng-click="save(true)" ng-disabled="variantErrors.length || LPPErrors.length > 0"><i ng-show="variantErrors.length > 0 || LPPErrors.length > 0" class="fa fa-warning"> </i>{{'Save' | r | xlat}}</button>
            </div>

            <div class="navbar-fixed-bottom">
                <div class="view-error-message" ng-show="variantErrors.length || LPPErrors.length > 0">
                    <ul class="alert-warning">
                        <li class="text-center">
							<span class="badge">
								<i class="fa fa-exclamation-circle fa-inverse"></i>
								{{variantErrors.length + LPPErrors.length}}
							</span>
                        </li>
                        <li class="text-center">
                            <ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }">
                                <li class="alert-warning" ng-repeat="e in variantErrors">{{e | xlat}}</li>
                                <li class="alert-warning" ng-repeat="e in LPPErrors">{{e | xlat}}</li>
                            </ul>
                        </li>
                        <li class="text-center">
                            <a ng-show="(variantErrors.length + LPPErrors.length) > 1">
                                <i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'"></i>
                                <i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>