<section>

</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="lead"><i class="fa fa-link"></i> Links</p>
                <div class="link-list">
                    <ng-include src="'partials/Messages/links.html'"></ng-include>
                </div>
            </div>
            <div class="col-md-6">
                <p class="lead"><i class="fa fa-pencil"></i> Newsletter</p>
                <p class="text-muted">Receive weekly company store updates by subscribing to our newsletter.</p>
                <ng-include src="'partials/newsletterFormView.html'"></ng-include>
            </div>

        </div>
    </div>
</section>
