<section>
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-3">-->
                <!--<p class="lead">Extra</p>-->
                <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus felis id tristique faucibus. Phasellus luctus tortor at turpis dignissim.</p>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<p class="lead">Extra</p>-->
                <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus felis id tristique faucibus. Phasellus luctus tortor at turpis dignissim.</p>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="lead"><i class="fa fa-link"></i> Links</p>
                <div class="link-list">
                    <ng-include src="'partials/Messages/links.html'"></ng-include>
                </div>
            </div>
            <!--<div class="col-md-4">-->
                <!--<p class="lead"><i class="fa fa-phone-square"></i> Contact</p>-->
                <!--<ng-include src="'partials/Messages/contact-info.html'"></ng-include>-->
            <!--</div>-->
            <div class="col-md-6">
                <p class="lead"><i class="fa fa-pencil"></i> Newsletter</p>
                <p class="text-muted">Sign up to Our Newsletter & get attractive Offers Daily Updates Available</p>
                <form target="_blank" action="http://beta.mynewsletterbuilder.com/tools/ext_subscribe" method="post" name="subscriber_form">
                    <input name="mnb_success_url" type="hidden" value="">
                    <input name="mnb_error_url" type="hidden" value="">
                    <input name="mnb_uid" type="hidden" value="2200924">
                    <input name="mnb_cat_override" type="hidden" value="add">
                    <input name="mnb_notify" type="hidden" value="">
                    <input name="mnb_nlid" type="hidden" value="">
                    <div class="input-group">
                        <input name="mnb_req_fields[email]" type="hidden" value="Email">
                        <input name="mnb_fields[email]" class="form-control" placeholder="Email Address" type="text">
                        <span class="input-group-btn">
                            <input name="mnb_cats[]" type="hidden" value="437989">
                            <input class="btn btn-blue" type="submit" value="Subscribe">
                        </span>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<section>
    <p class="text-center">Powered By <a style="color:#fff" href="http://www.robynpromo.com" target="_blank"><b>ROBYN PROMOTIONS</b></a></p>
</section>