<form method="post" novalidate enctype="multipart/form-data" action="//www.formstack.com/forms/index.php" class="fsForm fsSingleColumn fsMaxCol1" id="fsForm1566316">
    <input type="hidden" name="form" value="1566316" />
    <input type="hidden" name="viewkey" value="7loWXVaQxg" />
    <input type="hidden" name="hidden_fields" id="hidden_fields1566316" value="" />
    <input type="hidden" name="_submit" value="1" />
    <input type="hidden" name="incomplete" id="incomplete1566316" value="" />
    <input type="hidden" name="style_version" value="3" />
    <div class="fsPage" id="fsPage1566316-1">
        <div class="fsSection fs1Col">
            <div id="fsRow1566316-1" class="fsRow fsFieldRow fsLastRow">
                <div class="input-group" id="fsCell21472074" lang="en">
                    <input placeholder="Email Address" ng-model="newsletterEmail" size="30" value="" class="form-control" aria-required="true" />
                    <span class="input-group-btn">
                         <input ng-disabled="true"
                                class="btn btn-primary"
                                type="submit"
                                value="Subscribe" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>