<tabset>
    <tab heading="Description">
        30% of our paid associates are currently generated through referrals, making referrals the largest single recruiting source. Use this flier to encourage your associates and contacts to refer job seekers to Express Employment Professionals. One side features a brief referral form to simplify referral bonuses, and the other side shares testimonials from Express associates. <a href="http://my.expresspros.com/mc/associate/referrals.asp" target="_blank">Read more on MyDot.</a><br />
        <strong>Packaged in 50&#39;s.</strong><br />
        <a href="/ui/themelink.hcf?productid=AM102RU" style="line-height: 1.6em;">Customized version available.</a>
    </tab>
    <tab heading="Companion Pieces">
        <p>The Referral Bonus Flier could be paired with the <a href="/ui/themelink.hcf?productid=AM102RU">FAQ &amp; Movin&rsquo; On Up Promo, AM283.</a> This piece offers answers to frequently asked job seeker questions and promotes job search advice through the Movin&rsquo; On Up blog.</p>
    </tab>
    <tab heading="Testimonials">
        <ul>
            <li><em>&quot;I use the referral bonus flier all the time &ndash; in pay checks, at events, and we give them to clients &ndash; for referrals from non-associates we offer $25 gift card incentives when a referred candidate works 120 hours. Referrals are a number one recruiting source and this piece is helpful in getting the word out.&quot;</em> -&nbsp;Holly Eichman, Franchisee, Mason City, IA</li>
            <li><em>&quot;We see the most success with referrals from welders and warehouse workers using this piece, however it does bring in a variety of referrals. We share the flier in our handbooks and the staffing consultant references it. We provide a $20 bonus to the referrer when the new associate works 80 hours.&quot;</em> -&nbsp;Jennifer McHugh, Front Office Coordinator, Springfield, MO</li>
        </ul>
    </tab>
</tabset>

<div id="tags"><span>Referral</span> <span>Bonus</span></div> <br/>
