<div class="panel panel-default robyn-product-list" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">{{('Related' | r) + ' ' +  ('Products' | r) | xlat}}</h3>
    </div>
    <div class="panel-product-list">
        <nav class="nav">
            <ul>
                <li class="inline minimal alt" ng-repeat="product in relatedProducts | limitTo:8">
                    <div class="well">
                        <shortproductviewminimal p="product" user="user" />
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>