<script>
    var GYBTWCtrl = function($scope) {
        var imagePath = "//www.four51.com/Themes/Custom/0522be56-6d86-4457-a09b-6b8f04e094c1/Express%202012b/images/";

        var imageResources = [];
        var bakerSizes = ['8.5 x 11'];
        var machinistSizes = ['7.5 x 4.75', '4 x 5.75', '3.5 x 2', '1.375 x 5'];

        $scope.$watch('Variant', function(n) {
            if (!n) return;
            n.Specs.CountrySelection.Value = n.Specs.CountrySelection.DefaultValue;
            n.Specs.ColorSelection.Value = n.Specs.ColorSelection.Value ? n.Specs.ColorSelection.Value : n.Specs.ColorSelection.Options[0].Value;
            n.Specs.SizeSelection.Value = n.Specs.SizeSelection.Value ? n.Specs.SizeSelection.Value : n.Specs.SizeSelection.Options[0].Value;
            n.Specs.ImageSelection.Value = n.Specs.ImageSelection.Value ? n.Specs.ImageSelection.Value : n.Specs.ImageSelection.Options[1].Value;

            imageResources = [
                {
                    "Name":     n.Specs.ColorSelection.Options[0].Value,
                    "Images":   {
                        'Baker' : 'baker_color_tb.jpg',
                        'Machinist' : 'machinist_color_tb.jpg',
                        'Woman' : 'woman_color_tb.jpg'
                    }
                },
                {
                    "Name":     n.Specs.ColorSelection.Options[1].Value,
                    "Images":   {
                        'Baker': 'baker_bw_tb.jpg',
                        'Machinist': 'machinist_bw_tb.jpg',
                        'Woman': 'woman_bw_tb.jpg'
                    }
                }
            ];
        });

        $scope.$watch('Variant.Specs.ColorSelection.Value', function(n,o) {
            if (!n || n == o) return;
            $scope.selectionImages = buildThumbnails(n, ($scope.Variant.Specs.SizeSelection.Value || '8.5 x 11'));
        });

        $scope.$watch('Variant.Specs.SizeSelection.Value', function(n,o) {
            if (!n || n == o) return;
            $scope.selectionImages = buildThumbnails(($scope.Variant.Specs.ColorSelection.Value || 'Color'), n);
        });

        var buildThumbnails = function(color, size) {
            var result = [];
            angular.forEach(imageResources, function(group) {
                if (group.Name == color) {
                    angular.forEach(group.Images, function(image, name){
                        var obj = {
                            'Value': name,
                            'URL': imagePath + image
                        };
                        if (name == 'Baker') {
                            if (bakerSizes.indexOf(size) > -1) result.push(obj);
                        } else if (name == 'Machinist') {
                            if (machinistSizes.indexOf(size) > -1) result.push(obj);
                        } else {
                            result.push(obj);
                        }
                    })
                }
            });
            return result;
        };

        $scope.setImageSpec = function(value) {
            angular.forEach($scope.Variant.Specs.ImageSelection.Options, function(option) {
                if (option.Value == value) {
                    $scope.Variant.Specs.ImageSelection.Value = option.Value;
                }
            })
        }
    }
</script>
<section class="specform-default" ng-controller="GYBTWCtrl">
    <!-- BREADCRUMB!-->
    <productnav editvariant="true" product="Product" variant="Variant" />
    <!-- SPEC FORM IMAGE PANEL!-->
    <div class="col-md-4" ng-hide="!Variant.PreviewUrl">
        <div class="panel panel-default">
            <loadingindicator ng-show="loadingImage" />
            <div class="panel-body">
                <figure>
                    <img class="product-image-large img-responsive" ng-src="{{Variant.PreviewUrl}}" imageonload />
                </figure>
            </div>
        </div>
    </div>
    <div ng-class="{'col-xs-12': !Variant.PreviewUrl, 'col-md-7 col-md-offset-1': Variant.PreviewUrl }">
        <!-- SPEC FORM PANEL! --->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span ng-show="Variant.PreviewUrl">{{'Edit' | r | xlat}} </span>{{Variant.ExternalID || 'Create New' | xlat}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <strong>Ad Options</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customselectionfield customfield="Variant.Specs.SizeSelection"></customselectionfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customselectionfield customfield="Variant.Specs.ColorSelection"></customselectionfield>
                    </div>
                </div>
                <style>
                    .specFormThumb {
                        background-color:#ddd;
                        padding:5px;
                    }
                    .specFormThumb.active {
                        background-color:#0787C4;
                        padding:5px;
                    }
                </style>

                <div class="row">
                    <label>{{Variant.Specs.ImageSelection.Label || Variant.Specs.ImageSelection.Name}}</label>
                    <div class="col-xs-6 col-sm-2 col-md-1" ng-repeat="option in selectionImages">
                        <figure class="specFormThumb" ng-class="{active: Variant.Specs.ImageSelection.Value == option.Value}">
                            <img style="max-width:100%; margin:0 auto;" ng-src="{{option.URL}}" ng-click="setImageSpec(option.Value)"/>
                        </figure>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <strong>Contact Information</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.V04StreetAddress"></customtextfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.V02Address1"></customtextfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.V06City"></customtextfield>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.V07State"></customtextfield>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <customtextfield customfield="Variant.Specs.V08ZipCode"></customtextfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <customphonefield mask="(999)-999-9999" label="Phone" spec1="Variant.Specs.V09Phone1AC" spec2="Variant.Specs.V09Phone1EX" spec3="Variant.Specs.V09Phone1NUM" ></customphonefield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <customtextfield customfield="Variant.Specs.V13WebAddress"></customtextfield>
                    </div>
                </div>

            </div>

            <div class="panel-footer">
                <button ng-show="Variant.InteropID" class="btn btn-default" type="button" ng-click="saveasnew(true)"><i ng-show="variantErrors.length > 0" class="fa fa-warning"> </i>{{'Save As New' | r | xlat}}</button>
                <button class="btn btn-primary pull-right" type="submit" ng-click="save(true)"><i ng-show="variantErrors.length > 0" class="fa fa-warning"> </i>{{'Save' | r | xlat}}</button>
            </div>

            <div class="navbar-fixed-bottom">
                <div class="view-error-message" ng-show="showVariantErrors && variantErrors.length">
                    <ul class="alert-warning">
                        <li class="text-center">
							<span class="badge">
								<i class="fa fa-exclamation-circle fa-inverse"></i>
								{{variantErrors.length}}
							</span>
                        </li>
                        <li class="text-center">
                            <ul ng-class="{'one': errorSection == 'open', 'two': errorSection == '' }">
                                <li class="alert-warning" ng-repeat="e in variantErrors">{{e | xlat}}</li>
                            </ul>
                        </li>
                        <li class="text-center">
                            <a ng-show="variantErrors.length > 1">
                                <i class="fa fa-caret-down" ng-click="errorSection = 'open'" ng-hide="errorSection == 'open'"></i>
                                <i class="fa fa-caret-up" ng-click="errorSection = ''" ng-show="errorSection == 'open'"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>