<section id="dashboard">
    <div class="user-dashboard" ng-show="(cartCount && user.CurrentOrderID) || (SpendingAccounts.length > 0 && SpendingAccounts[0].Balance)">
        <div class="container">
            <!--<p ng-hide="user.Type == 'Customer'">-->
                <!--Welcome to ROBYN, <a href="admin">Login</a> or <a href="admin">Create new account</a>-->
            <!--</p>-->
            <p ng-show="SpendingAccounts.length > 0 && SpendingAccounts[0].Balance" class="spending-account">
                {{SpendingAccounts[0].Label + ': '}}<span class="label label-info" style="font-size:1em;">{{(SpendingAccounts[0].Balance | currency) || (0 | currency)}}</span>
            </p>
            <ul class="links" ng-show="cartCount && user.CurrentOrderID">
                <li><a href="cart">
                    <i class="fa fa-shopping-cart"></i> Shopping Cart
                </a></li>
                <li><a href="checkout">
                    <i class="fa fa-check-circle-o"></i> CheckOut
                </a></li>
            </ul>
        </div>
    </div>
    <div class="primary-dashboard">
        <div class="container">
            <div class="logo">
                <a href="catalog">
                    <img src="css/images/logo.png" />
                </a>
            </div>
            <div class="search">
                <form ng-submit="customSearch(searchTerm)">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchTerm" placeholder="{{searchType}}"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-blue"><i class="fa fa-search"></i> </button>
                        <button type="button" class="btn btn-blue dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                          <ul class="dropdown-menu dropdown-menu-right" role="menu">
                              <li><a ng-click="searchType = 'Content Search'">Content Search</a></li>
                              <li class="divider"></li>
                              <li><a ng-click="searchType = 'Product Search'">Product Search</a></li>
                          </ul>
                    </span>
                    </div>
                </form>

            </div>
            <div class="minicart-container">
                <div ng-show="cartCount">
                    <minicart current-order="currentOrder" user="user"></minicart>
                </div>
            </div>
        </div>
    </div>
</section>