<section id="dashboard">
    <div class="user-dashboard">
        <div class="container">
            <p>
                Welcome to ROBYN, <a href="admin">Login</a> or <a href="admin">Create new account</a>
            </p>
            <ul class="links">
<!--                <li><a href="catalog">
                    <i class="fa fa-home"></i> Home
                </a></li>-->
<!--                <li><a href="admin">
                    <i class="fa fa-user"></i> My Account
                </a></li>-->
                <li><a href="cart">
                    <i class="fa fa-shopping-cart"></i> Shopping Cart
                </a></li>
                <li><a href="checkout">
                    <i class="fa fa-check-circle-o"></i> CheckOut
                </a></li>
            </ul>
        </div>
    </div>
    <div class="primary-dashboard">
        <div class="container">
            <div class="logo">
                <a href="catalog">
                    <img src="css/images/logo.png" />
                </a>
            </div>
            <div class="search">
                <form ng-submit="customSearch(searchTerm)">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search for..."/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-blue"><i class="fa fa-search"></i> {{searchType}}</button>
                        <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                          <ul class="dropdown-menu" role="menu">
                              <li><a ng-click="searchType = 'Content Search'">Content Search</a></li>
                              <li class="divider"></li>
                              <li><a ng-click="searchType = 'Product Search'">Product Search</a></li>
                          </ul>
                    </span>
                    </div>
                </form>

            </div>
            <div class="minicart-container">
                <minicart></minicart>
            </div>
        </div>
    </div>
</section>