<div class="451qa_prod_item row robyn-short-product" ng-swipe-left="showSwipe = true">
    <div class="col-sm-4 text-center">
        <a class="thumbnail" href="product/{{LineItem.Product.InteropID}}">
            <figure ng-show="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl" >
                <img ng-src="{{LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl}}"/>
            </figure>
            <div class="empty" ng-hide="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl">
                <span class="fa empty"><i class="fa fa-camera"></i></span>
            </div>
        </a>
    </div>
   <script>

   </script>
    <div class="col-sm-8 text-left">
        <div class="panel-body">
            <p class="product-name" ng-bind-html="LineItem.Product.Name"></p>
            <small class="pull-right text-info">{{LineItem.Product.ExternalID}}</small>
            <style>
                font{
                    color:#999999 !important;
                    font-size: 11px !important;
                    font-weight: normal !important;
                }
                h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
                    color:#999999 !important;
                    font-size: 11px !important;
                    font-weight: normal !important;
                }
/*spans don't 1531 this specification because it will affect the rest of the app.*/
            </style>
                 <p class="text-muted" ng-show="LineItem.Product.Description">
                <small ng-bind-html="trustedDescription(LineItem.Product)"></small></p>
            <a class="btn btn-blue" href="product/{{LineItem.Product.InteropID}}"><i class="fa fa-shopping-cart"></i></a>
            <p class="price">
                <small class="text-danger" ng-show="StaticSpecGroups && StaticSpecGroups.StrikeThroughPricing"><s>{{StaticSpecGroups.StrikeThroughPricing.Specs.StrikeThroughPrice.Value}}</s><br/></small>
                <b>{{LineItem.PriceSchedule.PriceBreaks[0].Price | currency}}</b>
            </p>
        </div>
    </div>
</div>


