<div class="451qa_prod_item robyn-short-product inline">
    <div class="product-name"><div ng-bind-html="LineItem.Product.Name"></div></div>
    <a href="product/{{LineItem.Product.InteropID}}">
        <figure ng-show="LineItem.Variant.LargeImageUrl || LineItem.Product.LargeImageUrl" >
            <img style="max-height:150px;" ng-src="{{LineItem.Variant.LargeImageUrl || LineItem.Product.LargeImageUrl}}"/>
        </figure>
        <div class="empty" ng-hide="LineItem.Variant.LargeImageUrl || LineItem.Product.LargeImageUrl">
            <span class="fa empty"><i class="fa fa-camera"></i></span>
        </div>
    </a>
    <p class="price">
        <small class="text-danger pull-right" ng-show="StaticSpecGroups && StaticSpecGroups.StrikeThroughPricing"><s>{{StaticSpecGroups.StrikeThroughPricing.Specs.StrikeThroughPrice.Value}}</s><br/></small>
        <b>{{LineItem.PriceSchedule.PriceBreaks[0].Price | currency}}</b>
    </p>
    <form name="addToOrderForm" ng-submit="addToOrder()" >
        <style>
            input:not([type="checkbox"]), textarea, select, button{
                min-height: 20px;
            }

            .view-form-icon .quantity div input {
                font-size: 16px;
                height: 30px;

            }
        </style>
        <div class="view-form-icon" >
            <div class="row" >
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" ng-show="allowAddToOrderInProductList">
                   <small> <label class="">{{'Quantity' | r | xlat}}</label></small>
                    <quantityfield required="true" calculated="calcVariantLineItems" lineitem="LineItem" class="quantity"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-show="allowAddToOrderInProductList">
                    <button style="padding:0px;height:30px;" class="btn btn-blue btn-block btn-xs" type="submit" ng-disabled="addToOrderForm.$invalid">
                        <loadingindicator  ng-show="displayLoadingIndicator" />
                       <small>Add To Cart</small>
                    </button>
                </div>
            </div>
        </div>
        <br/>
    </form>
</div>