<accountnavigation />
<div class="container" style="border: 1px solid #ddd;">
    <div class="row">
        <div class=" img-responsive">
            <div class="panel-body">
                <div class="row" style="color:#0397D6;">
                    <h2>
                        <a href="catalog">
                            <img src="css/images/logo.png" />
                        </a>
                    <strong><i>Company Store</i></strong></h2>
                </div>
                <h4><strong>Contact Us</strong></h4>
               <strong>Test Store</strong> <br />
                123 Test Road<br />
                Minneapolis MN 55412<br /><br/>
                <strong>Phone:</strong> (800) 555-5555<br /><br/>
                <strong>Fax:</strong> (800) 555-5555<<br /><br/>
                <strong>Email: </strong><small><a href=#" >test@test.com</a></small><br /><br/>
               <strong>Hours:</strong> 8:00 am - 5:00 pm CST <br/>
                <div class="row">
                    <div class="col-md-12 col-lg-9">
                        <small>We want your feedback! Do you have a suggested product or improvement you would like to see on the store? Please <a href="#">click here</a> to email your feedback.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>