<!-- Category Description for Broadcast Advertising in 2.0-->
<section class="bulletList">
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                30th Anniversary America
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>Express 30th Anniversary HD.mov</li>
                        <li>Express 30th Anniversary SD.mov</li>
                        <li>Express 30th Anniversary 4x3 Safe.mov</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block" href="https://file.ac/SAZRVGbq1pM/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                30th Anniversary Canada
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>Express 30th Anniversary Canada HD.mov</li>
                        <li>Express 30th Anniversary Canada SD.mov</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block" href="https://file.ac/wCTRNGwMoxY/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                Canadian Version of Broadcast Video Spots
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:15-second Small Business (Features male working at a bakery)</li>
                        <li>:15-second Corporate (Features a woman in an office environment)</li>
                        <li>:30-second</li>
                        <li>:60-second</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block" href="https://file.ac/PxuH4AG6N2Y/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                Canadian Version of Broadcast Radio Spots
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:15-second Small Business (Features male working at a bakery)</li>
                        <li>:15-second Corporate (Features a woman in an office environment)</li>
                        <li>:30-second</li>
                        <li>:60-second</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block" href="https://file.ac/-n1-GWNr030/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                Canadian Versions of Web Video Spots
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:15-second Commercial (Features male in jeans and work boots)</li>
                        <li>:15-second Small Business (Features male working at a bakery)</li>
                        <li>:15-second Corporate (Features a woman in an office environment)</li>
                        <li>:30-second</li>
                        <li>:60-second</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block" href="https://file.ac/j4IWmAEGKdM/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                U.S. Versions of Broadcast Video Spots
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:15-second Commercial (Features male in jeans and work boots)</li>
                        <li>:15-second Small Business (Features male working at a bakery)</li>
                        <li>:15-second Corporate (Features a woman in an office environment)</li>
                        <li>:30-second</li>
                        <li>:60-second</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block" href="https://file.ac/LHZba3SWB80/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                U.S. Versions of Radio Spots
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:30-second tagged for ExpressPros.com</li>
                        <li>:60-second tagged for ExpressPros.com</li>
                        <li>:30-second apply a local tag</li>
                        <li>:60-second apply a local tag</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block" href="https://file.ac/H6qtxqmv0sU/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                U.S. Versions of Web Video Spots
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:15-second Commercial (Features male in jeans and work boots)</li>
                        <li>:15-second Small Business (Features male working at a bakery)</li>
                        <li>:15-second Corporate (Features a woman in an office environment)</li>
                        <li>:30-second</li>
                        <li>:60-second</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block" href="https://file.ac/mFHgrjNBqdo/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                Simulcast
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:30-second National Simulcast HD.mov</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block" href="https://file.ac/2thIlJKfpvE/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                Express Yourself
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:10-second Career Placement.mov</li>
                        <li>:10-second Client Staffing HR A.mov</li>
                        <li>:10-second Client Staffing HR B.mov</li>
                        <li>:10-second Short Long Term.mov</li>
                        <li>:30-second Career Placement.mov</li>
                        <li>:30-second Client Staffing HR A.mov</li>
                        <li>:30-second Client Staffing HR B.mov</li>
                        <li>:30-second Short Long Term.mov</li>
                        <li>Online Career Placement.mov</li>
                        <li>Online Clerical.mov</li>
                        <li>Online Industrial.mov</li>
                        <li>Online Who Is.mov</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block" href="https://file.ac/3YBqm-NB0Ws/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                Clydesdale
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:30-second Clydesdale - Tagged.mov</li>
                        <li>:30-second Clydesdale - Apply A Local Tag.mov</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-blue btn-block"  href="https://file.ac/TzVmuLwIGE4/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
</section>