<!-- Category Description for Broadcast Advertising in 2.0-->
<section class="bulletList">
	<div class="panel panel-primary">
	    <div class="panel panel-heading">
	        <div class="panel panel-title" style="background-color: #005288;!important">
	            Opening Doors Video
	        </div>
	    </div>
	    <div class="panel-body">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-1 col-sm-12">
	            <strong>Folder Contents:</strong>
	                <ul>
	                    <li>OpeningDoors_15_Recruiting_Admin_HD.mov</li>
	                    <li>OpeningDoors_15_Recruiting_Commercial_HD.mov</li>
	                    <li>OpeningDoors_15_Recruiting_Professional_HD.mov</li>
	                    <li>OpeningDoors_30_Recruiting_Admin_HD.mov</li>
	                    <li>OpeningDoors_30_Recruiting_Generic_HD.mov</li>
	                    <li>OpeningDoors_30_Recruiting_Professional_HD.mov</li>
	                    <li>OpeningDoors_60_Recruiting_Generic_HD.mov</li>
	                    <li>OpeningDoors_Recruiting_Client_HD.mov</li>
	                    <li>OpeningDoors_Recruiting_Commercial_HD.mov</li>
	                </ul>
	            </div>
	            <div class="col-lg-3  pull-right">
	                <a class="btn btn-primary btn-block" href="https://file.ac/G668tUYm5BA/" target="_blank"><i class="fa fa-download"></i> Download</a>
	            </div>
	        </div>
	    </div>
	</div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                Opening Doors Radio
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>OpeningDoors_Client_30.mp&shy;3</li>
                        <li>OpeningDoors_ClientandRec&shy;ruiting_60.mp3</li>
                        <li>OpeningDoors_Commercial_R&shy;ecruiting_30.mp3</li>
                        <li>OpeningDoors_ProfAdmin_Re&shy;cruiting_30.mp3</li>
                        <li>OpeningDoors_Recruiting_3&shy;0.mp3</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-primary btn-block" href="https://file.ac/ZQ1H6iA4eik/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                U.S. Versions of Web Video Spots
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:15-second Commercial (Features male in jeans and work boots)</li>
                        <li>:15-second Small Business (Features male working at a bakery)</li>
                        <li>:15-second Corporate (Features a woman in an office environment)</li>
                        <li>:30-second</li>
                        <li>:60-second</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-primary btn-block" href="https://file.ac/mFHgrjNBqdo/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <div class="panel panel-title" style="background-color: #005288;!important">
                Clydesdale
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-sm-12">
                <strong>Folder Contents:</strong>
                    <ul>
                        <li>:30-second Clydesdale - Tagged.mov</li>
                        <li>:30-second Clydesdale - Apply A Local Tag.mov</li>
                    </ul>
                </div>
                <div class="col-lg-3  pull-right">
                    <a class="btn btn-primary btn-block"  href="https://file.ac/TzVmuLwIGE4/" target="_blank"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
</section>