.category-list-tree {
  & > a {
    padding:0;
    text-align:left;
  }
  text-align:left;
  ul {
    li {
      width:100%;
      a {
        padding:0;
        text-align:left;
      }
      & > ul {
        padding-left:10px;
      }
    }
  }
}